.container {
  background-color: white;
  width: 1400px;
  height: 1400px;
  text-align: center;
  margin: 0 auto;
}
.header {
  background-color: #333333;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 40px;
  padding: 1px 1px;
}

.footer {
  background-color: #dddddd;
  margin-top: 40px;
  padding: 20px 20px;
  font-size: 20px;
}

.tableau {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.gras {
  font-weight: bold;
}
h2 {
  font-size: 34px;
  text-align: left;
  line-height: 35px;
  font-weight: normal;
}
p {
  text-align: left;
  font-size: 20px;
}

.carreau-rouge {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 30px;
  padding: 10px 10px;
  width: 300px;
  height: 300px;
  border: solid #e30414ed 10px;
}
.carreau-bleu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 30px;
  padding: 10px 10px;
  width: 300px;
  height: 300px;
  border: solid #039fe3 10px;
}
.carreau-saumon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 30px;
  padding: 10px 10px;
  width: 300px;
  height: 300px;
  border: solid #f8c5af 10px;
}
.carreau-jaune {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 30px;
  padding: 10px 10px;
  width: 300px;
  height: 300px;
  border: solid #ffee00 10px;
}

.carreau-vert {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 30px;
  padding: 10px 10px;
  width: 300px;
  height: 300px;
  border: solid #3ea536 10px;
}

@media (max-width: 1400px) {
  .container {
    width: 100%;
  }
  .header {
    font-size: 30px;
  }
  h2 {
    font-size: 28px;
  }
}
